body {
    margin: 0;
    background: rgb(204,204,204);
}


nav {
    margin: 0;
    background: linear-gradient(35deg, rgb(51,77,143) 50%, black 90%);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 5rem;
    padding: 10px;
}

#map {
    height: 60vh;
    margin-top: 17vh;
    border: 8px solid rgb(51,77,143);
    border-radius: 20px;
}

#banner{
    position:fixed;
    top: 0;
    height: auto;
    text-align: center;
    width: 100%;
}

select {
    width: 4%;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 50px; 
    color: #333; 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin-bottom: 20px; 
}

i{
    padding: 4px 20px;
    margin-right: 7px;
    border: 1px solid black
}

.legend{
    background:rgb(51,77,143);
    color: white;
    padding:7px;
    font-family: Arial, sans-serif;  
    border: 2px solid black;
    border-radius: 7px;
    font-size: 1.5rem;
}

.legend strong {
    font-size: 2rem ;
}

#tile {
    margin-left: 20px;
}